/*https://coolors.co/12130f-5b9279-8fcb9b-eae6e5-8f8073*/
/*Black, Dark Green, Light Green, Off White, Brown*/  

/*https://coolors.co/758bfd-ffc4eb-050505-a3b4a2*/
/*Blue, Pink, Black, Green*/
html {
    background-color: rgb(162, 191, 160); 

}

body {
    font-family: "Lato";
    background-color: #F5F5F5;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
    border: ridge 3px;
    border-color: #454545;
    padding: 40px;
    box-shadow: #a3b4a2 0px 0px 10px 5px;
}
h1 {
    color: #012a36;
    font-size: 280%;
    font-weight: 1000;
    text-align: center;
}
h2{
    color: #012a36;
    font-size: 200%;
    font-weight: bold;
}
h3 {
    text-align: center;
    color: #012a36;
    font-size: 150%;
    font-weight: 150%;
}
a {
    color: #008000;
    font-size: 200%;
    font-weight: 400;
    text-align: center; 
    
}
.menu { 
    text-align: center;
}
p{
    color: #050505;
    font-size: 150%;
    font-weight: 500;
    line-height: 1.50;
}
figcaption {
    color: #050505;
    font-size: 100%;
    text-align: center;
}
ul {
    color: #050505;
    font-size: 100%;
}
.footer {
    color: #050505;
    font-size: 150%;
}
.contract {
    background-color: rgb(162, 191, 160);
    color: #fefefe;
    font-size: 100%;
    text-decoration: none;
    text-align: left;
    position: relative;
    border-right: ridge 2px;
    border-top: ridge 2px;
    border-bottom: ridge 2px;
    border-color: rgb(159, 159, 159);
    margin: 0 0 0 -43px;
    padding: 3px;
    padding-left: 40px;
    padding-right: 10px;
}
#contract-content {
    font-size: 110%;
}
 img {
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }