/*https://coolors.co/12130f-5b9279-8fcb9b-eae6e5-8f8073*/
/*Black, Dark Green, Light Green, Off White, Brown*/  

/*https://coolors.co/758bfd-ffc4eb-050505-a3b4a2*/
/*Blue, Pink, Black, Green*/

body {
    font-family: "Lato";
    background-color: #F5F5F5;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
    border-style: solid;
    border-radius: 20px;
    border-width: thin;
    border-color: #121111;
    padding: 40px;
    
}
h1 {
    color: #012a36;
    font-size: 280%;
    font-weight: 1000;
    text-align: center;
}
h2{
    color: #012a36;
    font-size: 200%;
    font-weight: bold;
}
h3 {
    text-align: center;
    color: #012a36;
    font-size: 150%;
    font-weight: 150%;
}
a {
    color: #008000;
    font-size: 200%;
    font-weight: 400;
    text-align: center;    
}
.menu { 
    text-align: center;
}
p {
    color: #050505;
    font-size: 120%;
    font-weight: 500;
    line-height: 1.50;
}
figcaption {
    color: #050505;
    font-size: 100%;
    text-align: center;
}
ul {
    color: #050505;
    font-size: 120%;
    line-height: 1.50;
}
.footer {
    color: #050505;
    font-size: 150%;
}
#contract-content {
    font-size: 110%;
}
img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contract-pic {
    width: 180px;
    float: left;
    position: absolute;
} 
#personal-image {
    border-radius: 15px;
}
#personal-image-items {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    padding: 40px;
    }
#quote {
    text-align: center;
}
#intro-words {
    font-size: 150%;
    text-align: left;
}
#back-to-links {
    font-size: 120%;
    display: block;
    text-align: right;
}